.Remarco{
    border: lightgray;
    border-radius: 2.1vh;
    background-color: white;
    border-style: solid;
    text-align: center;
    padding: 2% 2% 2% 2%;
    min-height: 40vh;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
    background-image: url(allergendbfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #48def2;
  }
  
  input {
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 45vh;
    height: 4.5vh;
    justify-content: center;
    align-items: center;
    margin: 2.5vh 3vh 3vh 2.7vh;
  }
  
  input:focus {
    outline: none;
    border-color: rgb(99, 99, 255);
    box-shadow: 0 0 2px rgb(99, 99, 255);
  }
  
  input::placeholder {
    color: #999;
    font-size: large;
  }
  
  button {
    font-family: sans-serif;
    border: 1px solid #40c5d7;
    color:white;
    padding: 3% 33%;
    background-color:#40c5d7;
    cursor: pointer;
    border-radius: 3.4vh;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: 0.5s;
    font-size: 100%;
    margin-top:4vh;
    margin-bottom: 3vh;
    }
  
    button:hover {
      border: 1px solid #40c5d7;
      color:black;
      background-color: white;
      transform: translateY(-5px);
      transition: 0.5s;
    }
  
    h1 {
      text-align: center;
      font-weight:900;
    }
  
    h2 {
      text-align: center;
      font-weight:bold;
    }
  
    hr {
      border: 0.3vb;
      color: lightgrey;
      border-style: dashed;
      width: 100%;
      margin-bottom: 5vh;
      margin-top:-1vh;
    }
    